<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reporte de Tareas - MiniCore</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Generar Reporte de Tareas</h1>
    <form id="reporteForm" action="/reporte" method="post">
        <label for="fechaInicio">Fecha Inicio:</label>
        <input type="date" id="fechaInicio" name="fechaInicio" required>
        
        <label for="fechaFin">Fecha Fin:</label>
        <input type="date" id="fechaFin" name="fechaFin" required>
        
        <button type="submit">Generar Reporte</button>
    </form>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>
